@import "./config";
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

.collapseBtn {
    margin-top: 10px;   
}

body {
    margin: 0px;
    background-color: white;
}